.socials{
    position:fixed;
    top:auto;
    left:0;
    bottom:0;
    z-index:100;
    display:flex;
    padding-left:15px;
    padding-bottom:100px;
    flex-direction:column
}

.social-icon{
    position:sticky;
    padding-top:17px
}
