@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0;
	background: rgba(218, 218, 218, 0.25);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  max-width: 100%;
  overflow-x: hidden;
}


article {
  text-align: center;
}


h2 {
  font-size: 33px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


/*NAV MENU BEGIN */
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
  border: 1px solid #555;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/*NAV MENU END */

/*FOOTER BEGIN */
 #page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  color: black;
  text-align: center;
  border-top: 1px solid #555;
}
/*FOOTER END */

 #content img {
   position: fixed;
    top: 0px;
    left: 0px;
  }

/* DASHBOARD COURSES BEGIN*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.activecourse {
  background-color: rgb(251, 255, 0);
}

.completedcourse {
  background-color: rgb(59, 218, 80);
}

.failedcourse {
  background-color: rgb(255, 0, 0);
}
/* DASHBOARD COURSES END*/

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.socials{
  position:fixed;
  top:auto;
  left:0;
  bottom:0;
  z-index:100;
  display:flex;
  padding-left:15px;
  padding-bottom:100px;
  flex-direction:column
}
