nav {
    font-family: Arial, Helvetica, sans-serif;
}

  body {
    margin: 0;
  }
  
  main {
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid #555;
  }
  
  il {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black; 
    text-align: center;
    border-bottom: 1px solid #555;
    font-size:25px
  }
  
  il:hover:not(.active) {
    background-color: powderblue;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(182, 203, 206);
    color: black;
    text-align: center;
    border: 1px solid #555;
 }